<h1>Welcome to Book Services Enterprises Inc Ltd!</h1>
<h2>Please search a book!</h2>

<form class="" action="results" method="get">
  <input type="text" name="search" placeholder="ghuio">
  <input type="submit" value="Submit">
</form>
