
<header>
  <a class="mono"href="/">Home</a>
</header>
<p class="txtaln"><strong><%=@title%></strong> by <strong><%=@author%></strong></p>
<h2 class="txtaln">Get the book by clicking <a href="<%=@link%>">here</a>!</h2>



<img class="imgaln"src='<%=@image%>' width="30%" height="50%">
