
<header>
  <a class="mono"href="/">Home</a>
</header>

<p class="txtaln"><%=@title%></p>
<p class="txtaln"><%=@author%></p>
<p class="txtaln"><%=@link%></p>

<img class="imgaln"src='<%=@image%>' width="30%" height="50%">
